@import (less, reference) "../../style/mixin.css";

.center-nav {
    .center-top {
        height: 334px;
        width: 100%;
        padding: 50px 42px 58px;
        box-sizing: border-box;
        background: #fff;
        img {
            height: 94px;
            width: 94px;
            border-radius: 50%;
            float: left;
        }
        .center-top__uesr {
            height: 94px;
            width: 100%;
        }
        &__userInfo {
            height: 94px;
            padding: 15px 14px;
            box-sizing: border-box;
            color: #0e0e0e;
            font-size: 26px;
            float: left;
            text-align: left;
            &-no {
                font-size: 25px;
                margin-top: 15px;
            }
        }
        .center-top__benefit {
            margin-top: 60px;
        }
        .center-top__title {
            color: #d8d8d8;
            font-size: 24px;
            padding-left: 20px;
            i {
                font-size: 24px;
                color: #bfbfbf;
            }
            span {
                height: 24px;
                width: 24px;
                border-radius: 50%;
                background: #bfbfbf;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                margin-left: 20px;
            }
        }
        .center-top__total-benefit {
            margin-top: 16px;
            padding-left: 20px;
            font-size: 35px;
            color: #eb2422;
        }
    }
    .center-middle {
        height: 360px;
        width: 100%;
        background-color: #fff;
        margin-top: 20px;
        &__top {
            height: 180px;
            width: inherit;
            padding: 65px 76px 30px;
            box-sizing: border-box;
        }
        &__title {
            font-size: 23px;
            color: #999;
        }
        &__money {
            font-weight: bold;
            color: #333;
            &-big {
                font-size: 44px;
                margin-top: 20px;
            }
            &-small {
                font-size: 30px;
                margin-top: 16px;
                div {
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                }
            }
        }
        &__bottom {
            .flex;
        }
        &__flex {
            flex: 1;
            height: 180px;
            width: 50%;
            padding-top: 44px;
            padding-bottom: 65px;
            box-sizing: border-box;
        }
        &__left {
            padding-left: 76px;
        }
        &__right {
            padding-left: 39px;
        }
        &__btn {
            color: #ed4143;
            font-size: 19px;
            border-radius: 20px;
            height: 40px;
            width: 90px;
            border: 2px solid #ed4143;
            background-color: #fff;
            margin-left: 20px;
        }
    }
    .center-bottom {
        margin-top: 20px;
    }
}

.cain-modal.am-modal-transparent {
    width: 7rem !important;
}