@import (less, reference) "../../style/mixin.css";

.qrcode-list {
    .flex(left, left);
    flex-wrap: wrap;
    .qrcode-item {
        width: 33.333333%;
        height: 400px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
