@import (less, reference) "../../style/mixin.css";

.my-carousel {
    background: #DEF1E5;
    overflow: hidden;
    visibility: visible !important;
    .slider-frame {
        overflow: visible !important;
    }
    .qrcode-nav {
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat; 
    }
    .qrcode-nav-1 {
        background-image: url('/static/images/share/share_material_1.jpg');
    }
    .qrcode-nav-2 {
        background-image: url('/static/images/share/share_material_2.jpg');
    }
    .qrcode-nav-3 {
        background-image: url('/static/images/share/share_material_3.jpg');
    }
    .qrcode-nav-4 {
        background-image: url('/static/images/share/share_material_4.jpg');
    }
    .qrcode-nav-5 {
        background-image: url('/static/images/share/share_material_5.jpg');
    }
    .qrcode-nav-6 {
        background-image: url('/static/images/share/share_material_6.jpg');
    }
    .qrcode-nav-7 {
        background-image: url('/static/images/share/share_material_7.jpg');
    }
    .qrcode-nav-8 {
        background-image: url('/static/images/share/share_material_8.jpg');
    }
    .qrcode-nav-9 {
        background-image: url('/static/images/share/share_material_9.jpg');
    }
    .qrcode-nav-10 {
        background-image: url('/static/images/share/share_material_10.jpg');
    }
    canvas {
        position: absolute;
        top: 44px;
        right: 44px;
    }
}
