@import (less, reference) "../../style/mixin.css";

.index-infoWrap {
    float: left;
    width: 100%;
    position: relative;
    .index-info {
        .flex(flex-start);
        background-color: #fff;
        border-radius: 3px;
        padding-bottom: 44px;
        flex-wrap: wrap;
        li {
            float: left;
            width: 25%;
            height: 186px;
            text-align: center;
            .menu-item__icon {
                img {
                    .wh(98px, 98px);
                    margin-top: 44px;
                }
            }
            i {
                font-size: 56px;
                color: #ff4c39;
            }
            .menu-item__name {
                font-size: 28px;
                color: #333;
                display: block;
            }
        }
    }
}